/*通用样式*/
*{margin: 0;padding: 0;box-sizing: border-box;}
body{background:url(../img/bg.png) repeat; width: 100%;margin: 0 auto;}
html{font-size: 10px;}
a{text-decoration: none; color:#0F0F0F;}
a:hover{text-decoration: none;}
#nav,#header,#main{

    margin: 0 auto;
    overflow: hidden;
}
#nav{background: url(../img/nva.jpg) repeat; }
#nav img{width: 20%;float: left;}
ul{
    list-style: none;
}
#nav ul{
    width: 80%;
    overflow: hidden;

}
#nav ul li{
    float: left;
    width:14.2%;
    height: 3em;
    line-height:3em;
    font-size: 1.0em;
    text-align: center;
}
#header{background: url(../img/navback.jpg) repeat-x;}
#header ul{
    width: 100%;
    overflow: hidden;
}
#header ul li{
    float: left;
    width: 8.2%;
    text-align: center;
    border-right: 1px solid #fff;
}
#header ul li:last-child{
    border-right: 0;
}
#header ul li a{text-align: center;font-size: 0.9em;line-height: 1.3em; color: #fff;font-weight: bold;}
#main{
    margin-top:1em;
}
#main_left{
    float: left;
    width: 20%;
    min-height: 300px;
}
#main_left h4{
    width:100%;
    font-size: 1.5em;
    text-align: center;
}
#detail{
    width: 100%;
    padding-top:3em;
    min-height: 300px;
    /*background:url(../img/leftcont.jpg) repeat-y ;*/
    background:url(../img/lefttop.jpg) 0 0 no-repeat,url(../img/leftcont.jpg) 0 37px repeat-y;
    background-size: 100%;
    padding-left:6%;
    padding-right:6%;
}

#main_left img{
    float: left;
    width: 100%;
}
#detail>ul{
    overflow: hidden;
}
#detail ul>li{
    width: 44%;
    float: left;
    cursor: pointer;
}
#detail ul li>a{
    font-size: 0.6em;
}
#main_right{
    float: right;
    width: 100%;
}
#main_right ul{
    overflow: hidden;
    width: 100%;
}
#main_right ul li{
    overflow: hidden;
    width: 50%;
    float: left;
}
#main_right ul li a
{
    display:block;
    width: 100%;
    padding-left:0.7em;
}
#main_right ul li a img{
    width: 100%;
    background-size:100%;
    margin-bottom: 1em;

}
#foot{width: 100%;background: #5D6F58;text-align: center;height:1.5em;line-height: 1.5em;}
#foot a{color:#F8F6CA;font-size: 1em;}
 .start{
     width:100%;
     overflow: hidden;
 }
.start ul{
    width: 100%;
    overflow: hidden;
}
.start ul li{
    width:50%;
}
.detail{
  text-align: center;
}
.detail>h3,.detail>h4{
 width:100%;
    text-align: center;
}

